body{
    background-color: #F2F2F2;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin: 5px;
    padding: 7px;
    border-radius: 4px;
    border: solid 1px;
    border-color: #DDDDDD;
    background-color: #FFFFFF;
}

.colors{
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-left: auto;
}

.colors .color-box{
    width: 15px;
    height: 13px;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;
    border: none;
    cursor: pointer;
}

#itemText{
    border: none;
    font-size: 15px;
    padding-left: 5px;
    width: 300px;
    outline: none;
}

#addBtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 5px;
}

.cb-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}

.cb-list .list-item{
    display: flex;
    align-items: center;
    width: 550px;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 1px;
    color: #fff;
    background-color: #ff7583;
    border-radius: 4px;
}

.cb-item{
    margin-left: 20px;
    margin-right: 40px;
}

.txt-item{
    margin-left: 10px;
}

.message{
    font-size: 15px;
    width: 550px;
}

.filter{
    background-color:#73bcb1;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}

