body{
    background-color: #F2F2F2;
}

.container{
    text-align: center;
}

.wrapper{
    background-color: #FFFFFF;
    padding: 7px;
    border: solid 1px;
    border-color: #DDDDDD;
    border-radius: 4px;
    display: inline-block;
}

#colors{
    
}

#itemText{
    border: none;
    height: 28px;
    font-size: 15px;
    padding-left: 5px;
    outline: none;
    width: 300px;
}

#addBtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}

